<!--Container-->
<article class="prose lg:prose-xl">
  <div class="" style="font-family:Georgia,serif;">
    <!--Title-->
    <div class="">
      <h2 class="">History</h2>
    </div>
    <!--Post Content-->
    <!--Lead Para-->
    <p><em>Did you know Mayo has its own Metro?  Well it kind of does. Read on for a brief history of “the Maytró”.</em></p>
    <p>The Maytró started out life as “Mayolink” and was an idea developed by Frank Dawson, a civil servant in the Galway city council and native of Claremorris.</p>
    <p>I met Frank as part of an eclectic group of students, railway enthusiasts, environmentalists, business people, rail-freight professionals, local politicians and activists who came together in 2002 to fight the latest attempt by Iarnród Éireann to close regional railways, including the Ballina line.</p>
    <p>It was the height of Celtic tiger madness and IÉ, anxious to get in on the property development game, decided to wind up their profitable rail freight services to free up land for development.  Lines that were open primarily for freight (like Ballina) were for the chop <sup id="fnref:1" role="doc-noteref"><a href="#fn:1" class="footnote" rel="footnote">1</a></sup>.</p>
    <p>Thankfully IÉ were thwarted (they had another more successful crack after the <a href="https://en.wikipedia.org/wiki/2007%E2%80%932008_financial_crisis">GFC</a>) and as a group we even managed to usher in Ireland’s first private rail services since nationalization, carrying freight traffic from Ballina to Dublin and Waterford. Ballina was saved, hurray!</p>
    <p>Frank Dawson wasn’t happy with that and saw an opportunity to improve on the status quo further.  Back then the Ballina branch train was still pulled by a locomotive which meant that at the end of each trip the engine needed to be turned around.  As there were no facilities to do this at the junction of the Dublin and Ballina lines it instead ran up and down to the next station (Claremorris) empty for each train, fully staffed.  A “ghost train” as Frank termed it in his proposal.  At this time IÉ had a couple of unused railcars and Frank’s argument was, why not take one of these railcars and run it up and down between Westport and Ballina, instead of the empty trains? The staff were there, the rolling stock was there, the infrastructure was there, all sunk costs. Why not just provide a service?</p>
    <p>At this time Westontrack was kicking off its own campaign and Frank was busy with that so he passed the Mayolink torch to myself somewhat. To be honest I can’t remember how it all happened exactly or even when but with the help of a couple of mavericks - Billy Lewis in the Ballina IRD and Jerry Cowley, the independent TD for Mayo - a ‘delegation’ was put together to meet the Minister of Transport, Séamus Brennan, to put the case for Mayolink to him.  I use the word maverick because the idea seemed daft in the context of the times when we were building out our motorway network and were fully invested in private car transport.</p>
    <p>I was in the middle of my accounting exams back then, so it was left to me to put together some figures that made the economic case for the service, not a hard task given the circumstances. I included some references to the recently published National Spatial Strategy <sup id="fnref:2" role="doc-noteref"><a href="#fn:2" class="footnote" rel="footnote">2</a></sup> which aspired to link the fortune’s of Ballina and Castlebar towns amongst other concerns and that was it, more or less.</p>
    <p>We met Séamus Brennan in the department buildings in 2003 sometime and gave our presentations. The only record I can find of this event is a reference in a speech by Jerry Cowley which I think I wrote for him, at least in part <sup id="fnref:3" role="doc-noteref"><a href="#fn:3" class="footnote" rel="footnote">3</a></sup>. As I recall the Minister whisked into the room flanked by bookish civil servants, who briefed him theatrically as we spoke, refering him to passages in a large blue tome (the original Strategic Rail Review). There followed a consumate, efficacious speech thanking us for whatever it was we had just said, some handshakes and an invitation to partake in the refreshments at the back of the room. And that was that, or so I thought.</p>
    <p>In fact the Maytró did finally come into being in 2007 with the arrival of a railcar in Ballina and the new timetable <sup id="fnref:4" role="doc-noteref"><a href="#fn:4" class="footnote" rel="footnote">4</a></sup>.  If you read Jerry Cowley’s original speech on the matter <sup id="fnref:3" role="doc-noteref"><a href="#fn:3" class="footnote" rel="footnote">3</a></sup> you can get an outline of what kind of service that had been advocated. Something with local branding, community run, direct from Ballina to Westport, marketed etc. What was ultimately delivered was the worst possible version. Zero marketing, basically no acknowledgement that the service even existed, only connecting trains (and some very poor connections at that) and a ridiculous price, 15.90 euro one way, if memory serves, basically the same price as to Dublin.</p>
    <p>Years later, a friend of mine ended up serving on the board of Iarnród Éireann and I asked him to look into the pricing algorithm used for the line. He rejoined that there was no algorithm, that everything was done by hand still and that although the pricing boffins had never heard of the Ballina Westport service, they would look into it.  I don’t know if it was my friend’s bold intervention (thanks James!) or pure coincidence but the price was adjusted to a more reasonable amount, today around 7.50 euro, and I can happily report from personal experience, having recently returned to Ireland myself, that Maytró does indeed exist and is being used. </p>
    <p>An Maightró abú!</p>
    <hr>
    <div class="footnotes" role="doc-endnotes">
      <ol>
        <li id="fn:1" role="doc-endnote">
          <p><a href="https://web.archive.org/web/20230108201124/https://www.independent.ie/irish-news/line-closures-plan-denied-as-600-rail-jobs-feared-at-risk-26029312.html">Line closure planned as 600 rails jobs feared at risk</a><a href="#fnref:1" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
        </li>
        <li id="fn:2" role="doc-endnote">
          <p><a href="https://npf.ie/nss/">What was the National Spatial Strategy?<a><a href="#fnref:2" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
        </li>
        <li id="fn:3" role="doc-endnote">
          <p><a href="https://www.oireachtas.ie/en/debates/debate/dail/2003-02-27/11/#spk_283">Dáil Éireann debate - Thursday, 27 Feb 2003</a><a href="#fnref:3" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
        </li>
        <li id="fn:4" role="doc-endnote">
          <p><a href="https://web.archive.org/web/20230108235820/https://www.irishtimes.com/news/some-train-journeys-slower-than-20-years-ago-1.1191907">Some train journeys slower than 20 years ago</a><a href="#fnref:4" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
        </li>
      </ol>
    </div>
    <!--/ Post Content-->
  </div>

  <!--/Next & Prev Links-->
</article>
