<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "The Maighto" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

    <script type="module">
      const dataTable = new simpleDatatables.DataTable("#analysis-results", {
      searchable: true,
      fixedHeight: true,
      columns: [{ select: 0, sort: "asc" }],
      })
    </script>
  </head>
  <body class="pt-20">
    <header class="fixed top-0 left-0 w-full bg-green-500 py-4 z-10">
      <div class="container mx-auto flex justify-between items-center px-4">
        <a href="/" class="text-white font-bold text-xl">Maytró</a>
        <nav>
          <ul class="flex space-x-4">
            <li><a href="articles/about.html" class="text-white hover:text-gray-300">About</a></li>
            <li><a href="articles/history.html" class="text-white hover:text-gray-300">History</a></li>
            <li><a href="articles/analysis.html" class="text-white hover:text-gray-300">Analysis</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container mx-auto px-4">
      <div class="mx-auto max-w-7xl py-8 sm:px-6 lg:flex lg:items-center lg:justify-center lg:py-16 lg:px-8">
        <div class="prose lg:prose-xl">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>