---
title: Maightro
---

<img src="map.svg" alt="">
<p class="text-2xl pt-2 font-normal">'Sé an Maightró an t-iarnród áitúil i Mhaigh Eo. Maytró is the local rail service in Mayo. <a class=" text-indigo-600" href="/history">Find out more here</a></p>

