---
title: Maightro
---

<!-- The rest of your content -->
<div class="fixed bottom-10 left-0 right-0 flex justify-center pb-4"> <!-- Added positioning classes -->
  <a href="/articles.html" class="bg-gray-200 hover:bg-gray-300 text-black font-bold py-4 px-10 rounded-full">
    News
  </a>
</div>
<!-- The rest of your content -->

